<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="input-group">
        <button>
          <a routerLink="/write">
            <img src="assets/img/write_1.jpeg" alt="schrijven-alt" class="img-circle">
            <h3>schrijven</h3>
          </a>
        </button>
      </div>
    </div>
    <div class="col-sm-4">
      <button>
        <a routerLink="/read">
          <img src="assets/img/read_1.jpeg" alt="lezen" class="img-circle">
          <h3>lezen</h3>
        </a>
      </button>
    </div>
    <div class="col-sm-4">
      <button>
        <a routerLink="/calculate">
          <img src="assets/img/calculate_1.jpeg" alt="rekenen" class="img-circle">
          <h3>rekenen</h3>
        </a>
      </button>
    </div>
  </div>
</div>
<br/>