/* You can add global styles to this file, and also import other style files */

/** 
    GLOBAL 
*/
/**html {
    font-family: "Josefin Sans";
    font-size: 24px;
}*/


/** 
    HEADER BAR
*/
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
    font-family: "Abril Fatface";
}

.navbar-default {    
    font-family: "Abril Fatface";
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

/** 
    SPECIFICS
*/
.josefin24 {
      font-family: "Josefin Sans";
      font-size: 24px;
}